/*********************************************************************
***
*Original Author:Vlad Kolmorgan
*Date Created:1/24/2024
*Version:v 3.0.1
*Date Last Modified:2/25/2024
*Modified by:Vlad Kolmorgan
*Modification log: 
v 1.0.0 - 1/27/2024 - Various coloring, sizing, organization, ground work for multiple nav options changed
                      backgrounds and borders. Document made on 1/24/2024, added backlog on 1/27/2024
v 2.0.0 - 2/11/2024 - Added spacing and hiding for FAQ page. Added backgrounds to the form, as well as colors
v 3.0.0 - 2/24/2024 - Added CSS for carousel
v 3.0.1 - 2/24/2024 - Modified and tidied CSS for carousel
***Color template: Brown:rgba(255, 127, 7) Green:#597d44 Yellow:#FFAE57
***
******************************************************************** */
h1, h2{
    color: #597d44;
    text-shadow: 3px 1px 3px black;
    font-size: 30px;
}
h1{
    text-align: center;
    font-size:50px;
}
body{
    color: #FFAE57;
    text-shadow: 1px 1px 1px black;
    background-image: url(../images/Dirt.jpg);
}
section{
    background: rgba(255, 127, 7, 0.4);
    border: 5px solid #597d44;
    width: 90%;
    margin: auto;
}
footer{
    text-align: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    color: #597d44;
    font-size:20px;
}
main a:hover,nav ul li a:hover{
    background-color: #FFAE57;
    border-radius: 40px;
    font-size: 25px;
    color: black;
}
main a, nav ul a{
    color: #597d44;
    text-decoration: none;
}

/* For FAQ Page */
h3 {
    padding: 0 0 0 25px;
}
#faqs div{
    display: none;
}
#faqs div.open {
    display: block;
    padding: 0 0 0 50px;
}

/* For Forms */
form{
    background: rgba(255, 127, 7, 0.5);
    border: 5px solid #597d44;
    width: 80%;
    margin: auto;
}
form span{
    color: #597d44;
}
#submit_form:hover, #reset_form:hover, #skip_timer:hover{
    background-color: #FFAE57;
    color: black;
}
/* Carousel */
#carousel{
    border: 5px solid #597d44;
    background: rgba(255, 127, 7, 0.5);
    width: 325px;
    margin-left: auto;
    margin-right: auto;
}
.button_panel	{
	height: 125px;
    width: 325px;
    display: inline;
}
.button_panel img {
	width: 100px;
	height: 100px;
    padding: 30px;
}
#image_display {
	height: 200px;
	width: 325px;
	overflow: hidden;
    display: flex;
    flex-direction:column;
}
#image_list {
	left: 0px;
	position: relative;   
    width: 1500px;
    list-style: none;  
}
#image_list li	{
	float: left;
	width: 300px;
}
#image_list li img	{
	width: 250px;
}