h1{
    background-color: #A8D6EB;
    font-family: 'Anton', sans-serif;
}
h2{
    font-size: 1.5em;
}
#first-section{
    background-color: #AEF0CC;
}
#second-section{
    background-color: #E3ADB9;
}
.none{
    text-decoration: none;
}
.underline{
    text-decoration: underline;
}
.overline{
    text-decoration: overline;
}
.line-through{
    text-decoration: line-through;
}