/* Practice CustomFonts Style Sheet */

@font-face {
    font-family: 'chunkfive';
    src: url('../fonts/chunkfive-regular-webfont.woff') format('woff'),
         url('../fonts/chunkfive-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'chunkfive', "Times New Roman", serif;
}